.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  section {
    width: 400px;
    display: flex;
    flex-direction: column;
    outline: 1px solid black;

    input {
      background-color: rgb(46, 46, 49);
      height: 60px;
      outline: 1px solid rgb(46, 46, 49);
      color: white;
      font-size: 50px;
      font-weight: 300;
      text-align: end;
    }
    div {
      display: flex;
    }
  }
}