.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(96, 96, 99);
    height: 100px;
    width: 100px;
    outline: rgb(46, 46, 49);

    span {
        font-size: 25px;
        font-weight: bolder;
        color: white;
    }
}

.buttonType1 {
    background-color: rgb(66, 66, 69);
}

.buttonType2 {
    background-color: rgb(255, 159, 12);
}